@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;700&display=swap');

body {
  background: linear-gradient(#dc14dc, #eb5aba, #f7e2de, #f17acd, #d53fa1, #992592, #6e2090);
  min-height: 100vh;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loading {
  text-align: center;
  font-size: 30px;
  color: rgb(225, 215, 215);
  -webkit-text-stroke: 1px black;
}

#main {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in;
}

.logo, .host {
  display: block;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#score {
  text-align: center;
  text-shadow: 1px 1px 3px purple;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 33px;
  color: rgb(225, 215, 215);
  -webkit-text-stroke: 1px black;
}

#game {
  display: flex;
}

#modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  height: 450px;
  width: 600px;
  overflow: auto;
  background-color: rgb(16, 65, 226);
  color: white;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  margin: 20% auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.genre-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  display: center;
  width: 155px;
  height: 78px;
  border-radius: 5px;
  background-color: blue;
  border: solid rgb(47, 46, 46) 5.5px;
  color: yellow;
  font-size: 65px;
  letter-spacing: -1px;
  margin: 5px;
  cursor: pointer;
}

button {
  display: flex;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 30px;
  margin-top: 18px;
  margin-bottom: 15px;
  background-color: rgb(73, 73, 231);
  border-radius: 9px;
  border: solid blue 3px;
  cursor: pointer;
}

.correct-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}
