@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;700&display=swap');

body {
  background: linear-gradient(#dc14dc, #eb5aba, #f7e2de, #f17acd, #d53fa1, #992592, #6e2090);
  min-height: 100vh;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Loading section */
#loading {
  text-align: center;
  font-size: 30px;
  color: rgb(225, 215, 215);
  -webkit-text-stroke: 1px black;
}

/* Main page */
#main {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in;
}

/* Images on the loading and main page */
.logo, .host {
  display: block;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* Score */
#score {
  text-align: center;
  text-shadow: 1px 1px 3px purple;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 33px;
  color: rgb(225, 215, 215);
  -webkit-text-stroke: 1px black;
}

/* Container for the question cards */
#game {
  display: flex;
  flex-wrap: wrap;
}

/* Question cards' columns */
.genre-column {
  display: block;
  text-align: center;
}

/* Question cards */
.card {
  display: center;
  width: 155px;
  height: 78px;
  border-radius: 7px;
  background-color: blue;
  border: solid rgb(47, 46, 46) 5.5px;
  color: yellow;
  font-size: 65px;
  margin: 5px;
  cursor: pointer;
  transform: translateY(-5px);
}

.card:active {
  transform: translateY(-2px);
}

/* Backdrop of the question cards' modals */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.628);
}

/* Content of the question cards' modals */
.modal-content {
  background-color: blue;
  color: white;
  display: block;
  margin: 15% auto;
  height: 470px;
  width: 600px;
  max-width: 80%;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

/* Buttons for answer options on the modal */
button {
  display: flex;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 30px;
  margin-top: 18px;
  margin-bottom: 15px;
  background-color: rgb(73, 73, 231);
  border-radius: 9px;
  cursor: pointer;
}

/* Button for closing the modal */
.close-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  justify-content: center;
  width: 2.5em;
  background-color: white;
  font-weight: bold;
}

/* Color display when an answer option is chosen */
.correct-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}

/* Backdrop of the modals - when completing all cards*/
#modal-complete {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.628);
}

/* Content of the question cards' modals - when completing all cards*/
.modal-complete-content {
  background: linear-gradient(#dc14dc, #eb5aba, #f7e2de, #f17acd, #d53fa1, #992592, #6e2090);
  display: block;
  margin: 15% auto;
  height: 470px;
  width: 600px;
  max-width: 80%;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  -webkit-text-stroke: 1px black;
}

/* Backdrop of the modals - when time is up */
#modal-time {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.628);
}

/* Content of the question cards' - when time is up */
.modal-time-content {
  background: linear-gradient(#dc14dc, #eb5aba, #f7e2de, #f17acd, #d53fa1, #992592, #6e2090);
  display: block;
  margin: 15% auto;
  height: 470px;
  width: 600px;
  max-width: 80%;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  -webkit-text-stroke: 1px black;
}

/* Play-again button */
.play-again {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  justify-content: center;
  width: 6em;
  height: 2em;
  background-color: white;
  font-weight: bolder;
  color: rgb(235, 14, 150);
  border: solid rgb(235, 14, 150) 3.5px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Button for controlling background music*/
a {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 35px;
  color: rgb(224, 159, 240);
  -webkit-text-stroke: 1px black;
}
