@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  justify-content: center;
  /* opacity: 0;
  display: none; */
  transition: opacity 2s ease-in;
}

.btn {
  display: inline-block;
  background: linear-gradient(#1d125e, #48268b);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
}
