@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;700&display=swap');

/* General features */
body {
  font-family: 'Asap Condensed', sans-serif;
  background-image: linear-gradient(#dc14dc, #eb5aba, #f7e2de, #f17acd, #d53fa1, #992592, #6e2090);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Greeting page */
.main {
  position: relative;
  width: 90%;
  max-width: 400px;
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}

/* Image on the greeting page */
img {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  max-width: 100%;
}

/* 'Press start' button on the greeting page */
.btn {
  position: absolute;
  background: linear-gradient(#1d125e, #48268b);
  color: white;
  text-decoration: none;
  border-radius: 7px;
  padding: 10px 10px;
  margin-top: 30px;
  left: 31%;
  font-size: 30px;
  cursor: pointer;
  transition: .3s linear;
}

/* Hovering on the 'Press start' button */
.btn:hover {
  transform: rotateY(15deg);
  box-shadow: 0px 15px 15px rgb(42, 2, 69);
}
